<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}lavish-bootstrap.css">    


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>


<body>
<div class="container">
<div class="row">
<h1>{{ alderman.alderfull }} - Ward {{ alderman.ward }}</h1>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h3>Recent Votes</h3></div>
<div class="panel-body">
    {% if vote_list %}
        {% for vote in vote_list %}
            <div class="row"> 
	    <div class="col-md-12">
	    <h3><a href="/bills/{{ vote.billnumber }}/">Bill {{ vote.billnumber }} </a> - {{ vote.billnumber.billname }}</h3>
            </div>
	    </div>
            <div class="row">
              <div class="col-md-4">
              {% if vote.vote == "aye" %}
	      <h4 style="color:#5AD3D1"> {{ vote.vote }}</h4>
	      {% elif vote.vote == "nay" %}
	      <h4 style="color:#FF5A5E"> {{ vote.vote }}</h4>
	      {% elif vote.vote == "present" %}
	      <h4 style="color:#FFC870"> {{ vote.vote }}</h4>
	      {% elif vote.vote == "no vote" %}
	      <h4 style="color:#AAAAAA"> {{ vote.vote }}</h4>
	      {% endif %}
              </div>
              <div class="col-md-8">
              <h4>placeholder for common language description of board bill</h4>
              </div>
            </div>
            <div class="row">
            <div class="col-md-12">
            <p>#tags  #to  #aid  #in  #related  #board  #bill  #search</p>

            </div>

            </div>
	<hr />
        {% endfor %}
    {% else %}
        <p>couldnt find the list of votes</p>
    {% endif %}
</div>
</div>
</div>
</body>
</html>
