<!DOCTYPE html>


<html>

<head lang="en">

    <meta charset="UTF-8">
    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}lavish-bootstrap.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
<h1>{{ bill.billnumber }} - {{ bill.billname }}</h1>
</div>
<div class="row">
<div class="col-md-6">

<h3>AYE VOTES: {{ aye_count }}</h3>
<h3>NAY VOTES: {{ nay_count }}</h3>
<h3>PRESENT VOTES: {{ present_count }}</h3>
<h3>NO VOTE: {{ novote_count }} </h3>
<canvas id="myChart" width="200" height="200"></canvas> 
</div>
<div class="col-md-6">
    {% if vote_list %}
        <table>
        {% for vote in vote_list %}
            <tr>
            <td><h4><a href="/aldermen/{{ vote.alderlast }}"> {{ vote.alderlast }} </a></h4></td>
	    {% if vote.vote == "aye" %}			
            <td> <h4 style="color:#5AD3D1">{{ vote.vote }}</h4> </td>
	    {% elif vote.vote == "nay" %}
	    <td> <h4 style="color:#FF5A5E">{{ vote.vote }} </h4></td>
	    {% elif vote.vote == "present" %}
	    <td> <h4 style="color:#FFC870">{{ vote.vote }}</h4></td>
	    {% elif vote.vote == "no vote" %}
	    <td><h4 style="color:#AAAAAA">{{ vote.vote }}</h4></td>
	    {% endif %}
		</tr>

        {% endfor %}
        </table>
    {% else %}
        <p>couldnt find the list of votes</p>
    {% endif %}
</div>
</div>
</div>
<script>
var data = [ { value: {{ aye_count }}, color: "#5AD3D1", label: "Aye" }, { value: {{ nay_count }}, color: "#FF5A5E", label: "Nay" }, { value: {{ present_count }}, color: "#FFC870", label: "Present"}, { value: {{ novote_count }}, color: "#AAAAAA", label: "Did Not Vote"} ];

var ctx = document.getElementById("myChart").getContext("2d");

var mychart = new Chart(ctx).Pie(data); 
</script>
</body>
</html>

