<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>St. Louis Board of Alderman</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}lavish-bootstrap.css"/>
</head>

<body>
    {% if aldermen_list %}

        
        {% for alderman in aldermen_list %}
            <h1><a href="/aldermen/{{ alderman.alderlast }}/">Alderman {{ alderman.alderlast }}</a></h1>
        {% endfor %}
        
    {% else %}
        <p>couldnt find the list of aldermen</p>
    {% endif %}
</body>
</html>
